@tailwind base;
@tailwind components;
@tailwind utilities;

.flex.bg-gray-50.rounded-lg.overflow-hidden {
  width: 33%;
  font-size: 15px;
}

button.inline-flex.items-center.justify-center.gap-2.whitespace-nowrap.text-sm.transition-colors.focus-visible\:outline-none.focus-visible\:ring-1.focus-visible\:ring-ring.disabled\:pointer-events-none.disabled\:opacity-50.\[\&_svg\]\:pointer-events-none.\[\&_svg\]\:size-4.\[\&_svg\]\:shrink-0.hover\:bg-accent.hover\:text-accent-foreground.h-9.bg-white.text-black.font-semibold.px-4.py-2.rounded-lg.shadow-sm {
  border: 3px solid #F4F7FE;
}

.p-6.pt-0 {
  padding: 0px;
}

button.items-center.justify-center.gap-2.whitespace-nowrap.rounded-md.text-sm.font-medium.focus-visible\:outline-none.focus-visible\:ring-1.focus-visible\:ring-ring.disabled\:pointer-events-none.disabled\:opacity-50.\[\&_svg\]\:pointer-events-none.\[\&_svg\]\:size-4.\[\&_svg\]\:shrink-0.hover\:bg-accent.hover\:text-accent-foreground.h-9.flex.justify-items-start.w-full.text-white.transition-all.duration-300.p-2 {
  display: flex;
  justify-content: flex-start !important;

}

button.items-center.justify-center.gap-2.whitespace-nowrap.text-sm.font-medium.focus-visible\:outline-none.focus-visible\:ring-1.focus-visible\:ring-ring.disabled\:pointer-events-none.disabled\:opacity-50.\[\&_svg\]\:pointer-events-none.\[\&_svg\]\:size-4.\[\&_svg\]\:shrink-0.hover\:bg-accent.hover\:text-accent-foreground.h-9.flex.justify-items-start.w-full.text-white.transition-all.duration-300.bg-\[\#4E5976\].px-3.py-2.rounded-md {
  display: flex;

}

.w-full.bg-white.shadow-md.flex.justify-between.items-center.px-6 {
  height: 71px;
}

.h-9.items-center.justify-center.rounded-lg.text-muted-foreground.flex.space-x-2.p-2.bg-gray-100.w-full {
  display: block;

}

.bg-card.text-card-foreground.w-full.rounded-lg.shadow-sm.border {
  width: 97%;
  display: block;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
}

svg.lucide.lucide-rocket.w-5.h-5 {
  position: relative;
  bottom: 10px;
}

.text-card-foreground.rounded-xl.border.border-neutral-200.bg-white.shadow-md {
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
}